@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Tiny5&display=swap');

:root {
    /* Accent Color */
    --aw-accent-color: #ff97ef;

    /* Text - Fonts */
    --aw-font-family-primary: "Shantell Sans", serif;
    --aw-font-family-secondary: "Tiny5", sans-serif;
    --aw-color-text-primary: #f0f8ff;
    --aw-text-size: 14px;
    --aw-text-size-small: 13px;

    /* Container */
    --aw-container-bg: #232323;
    --aw-container-border: 2px solid rgba(0, 0, 0, 0.4);

    /* Inputs */
    --aw-input-bg: #1c1c1c;
    --aw-input-bg-hover: #262626;
    --aw-input-border: 1px solid #262626;
    --aw-input-border-focus: #006ee5;

    /* Checkboxes */
    --aw-checkbox-unchecked-bg: #20b2aa;
    --aw-checkbox-checked-bg: #2196f3;
    --aw-checkbox-inpaint-bg: #bbca53;
    --aw-checkbox-sdxl-bg: #ea8610;

    /* Buttons */
    --aw-button-primary-bg: linear-gradient(135deg, #1d232c, #262f3d);
    --aw-button-primary-border: 1px solid #3a4559;
    --aw-button-save-bg: var(--aw-button-primary-bg);
    --aw-button-save-hover: linear-gradient(135deg, #008168, #00a888);
    --aw-button-api-hover: linear-gradient(135deg, #442a54, #59366d);

    /* Scrollbar */
    --aw-scrollbar-thumb-bg: #353535;
    --aw-scrollbar-thumb-hover-bg: #454545;
}

.container_webui,
.container_models,
.container_vae,
.container_lora,
.container_cnet {
    background-color: var(--aw-container-bg);
    font-family: var(--aw-font-family-primary);
    border: var(--aw-container-border);
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 5px;
    min-width: 900px;
    max-width: 900px;
}

.container_webui,
.container_settings,
.container_cdl {
    display: flex;
    justify-content: space-between;
    min-width: 924px;
    max-width: 924px;
    margin-bottom: 5px;
    gap: 5px;
}

.container_cdl {
    height: 120px;
    transition: height 0.4s ease;
}
.container_cdl.expanded {
    height: 385px;
}

.box_webui {
    background-color: var(--aw-container-bg);
    border: var(--aw-container-border);
    border-radius: 12px;
    min-width: 450px;
    max-width: 450px;
}
.box_webui .widget-dropdown {
    width: 95%;
}

.box_settings {
    background-color: var(--aw-container-bg);
    border: var(--aw-container-border);
    border-radius: 12px;
    width: 100%;
}

.box_download {
    background-color: var(--aw-container-bg);
    border: var(--aw-container-border);
    border-radius: 12px;
    min-width: 460px;
    max-width: 460px;
}
.box_download .widget-textarea {
    max-height: 100px;
    min-height: 100px;
}
.box_download .widget-label {
    margin-bottom: 6px;
}

.header {
    margin: 5px 0 10px 10px;
}

.widget-text,
.widget-textarea,
.widget-dropdown,
.widget-select,
.widget-select-multiple {
    font-family: var(--aw-font-family-secondary);
}

.widget-label {
    font-size: var(--aw-text-size);
    margin-right: 10px;
    white-space: nowrap;
}

.widget-text input[type="text"],
.widget-textarea textarea,
.widget-dropdown select,
.widget-select select,
.widget-select-multiple select {
    background: var(--aw-input-bg);
    color: var(--aw-color-text-primary);
    border: var(--aw-input-border);
    border-radius: 8px;
    min-width: 150px;
    transition: all 0.2s ease;
}

.widget-text input[type="text"]:focus,
.widget-textarea textarea:focus,
.widget-dropdown select:focus,
.widget-select select:focus,
.widget-select-multiple select:focus {
    border-color: var(--aw-input-border-focus);
    background-color: var(--aw-input-bg-hover);
    box-shadow: none;
}
.widget-dropdown select,
.widget-select select,
.widget-select-multiple select {
    padding: 8px 12px;
}

.widget-checkbox {
    padding-left: 30px;
}
.widget-checkbox input[type="checkbox"] {
    position: absolute;
    margin-left: -25px;
    width: 20px;
    height: 20px;
    accent-color: var(--aw-checkbox-checked-bg);
    cursor: pointer;
}
.widget-checkbox .sdxl input[type="checkbox"] {
    accent-color: var(--aw-checkbox-sdxl-bg);
}
.widget-checkbox .inpaint input[type="checkbox"] {
    accent-color: var(--aw-checkbox-inpaint-bg);
}

.info, .empowerment {
    opacity: 0;
    transition: opacity 0.5s ease;
}
.info.showed, .empowerment.showed {
    opacity: 1;
}

.gdrive-btn {
    width: 215px;
    margin: 0 auto;
    cursor: pointer;
}

.button_save {
    width: 215px;
}

/* Button styles */
.button {
    color: var(--aw-color-text-primary);
    background-image: var(--aw-button-primary-bg);
    border: var(--aw-button-primary-border);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: var(--aw-text-size-small);
    border-radius: 8px;
    height: 38px;
    width: 100%;
    margin: 5px auto;
    line-height: 36px;
    justify-content: center;
    transition: all 0.3s ease;
}

.button_api {
    position: relative;
    max-width: 38px;
    max-height: 38px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.button_api .icon,
.button_api .text {
    display: inline-block;
    vertical-align: middle;
}
.button_api .icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--aw-text-size);
    transition: all 0.4s ease;
}
.button_api .text {
    max-width: 0;
    opacity: 0;
    padding-left: 0;
    font-size: var(--aw-text-size-small);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.4s ease;
}

.button:hover {
    background-position: right bottom;
}
.button_save:hover {
    background-image: var(--aw-button-save-hover);
}
.button_api:hover {
    max-width: 300px;
    padding: 0 12px 0 32px;
    background-image: var(--aw-button-api-hover);
}
.button_api:hover .icon {
    left: 15px;
    transform: translateX(0);
}
.button_api:hover .text {
    max-width: 200px;
    padding-left: 6px;
    opacity: 1;
}

/* Removes ugly stroke from widget buttons. */
.button:active {
    filter: brightness(0.75) !important;
}
.jupyter-widgets.lm-Widget:focus {
    outline: none;
}


/* Animation of elements */

.container,
.gdrive-btn,
.button_save {
    animation: showedWidgets 0.8s forwards ease;
}

.container.hide,
.gdrive-btn.hide,
.button_save.hide {
    animation: hideWidgets 0.5s forwards ease;
}

@keyframes showedWidgets {
    0% {
        transform: translate3d(-65%, 15%, 0) scale(0) rotate(15deg);
        filter: blur(25px) brightness(0.3);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1) rotate(0);
        filter: blur(0) brightness(1);
        opacity: 1;
    }
}

@keyframes hideWidgets {
    0% {
        transform: translate3d(0, 0, 0) scale(1) rotate(0);
        filter: blur(0) brightness(1);
        opacity: 1;
    }
    100% {
        transform: translate3d(-65%, 15%, 0) scale(0) rotate(15deg);
        filter: blur(25px) brightness(0.3);
        opacity: 0;
    }
}

/* Utility class to hide elements */
.hidden {
    display: none !important;
}